/* This is the easy version using CSS hexagons. */

/* Main Body Definition */

body {
    font-family: Georgia;
}

.chop {
    height: 100px;
    position: fixed;
    top: 15px;
}

h1 {
    font-size: 50px;
    margin-left: 120px;
}

#charhex {
    color: #6C6;
    font-size: 300px;
}

#charhex:after {
    content: "\2B22";
    display: inline-block;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}​

.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #6C6;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}



/******************************************/
/* an attempt at making things responsive */

/* large *****************************/
@media only screen
and (min-width : 2000px) {
    /* Large Body Definition */
    body {
	background: red;
    }
}

/* medium *****************************/
@media only screen
and (min-width : 1400px)
and (max-width : 1999px) {
    /* Medium Body Definition */
    body {
	background: yellow;
    }
}


/* small *****************************/
@media only screen
and (min-width : 1000px)
and (max-width : 1399px) {
    /* Small Body Definition */
    body {
	background: blue;
    }
}

/* phone *****************************/
@media only screen
and (min-width : 800px)
and (max-width : 999px) {    
    /* Phone Body Definition */
    body {
	background: black;
    }
}
