/* Main Body Definition */

body {
    font-family: Georgia;
}

p {
    background: grey;
    color: green;
}

.chop {
    height: 100px;
    position: fixed;
    top: 15px;
}

img:hover {
    opacity: 0.5;
}

#label {
    font-size: 40pt;
    margin-left: 120px;
    margin-top: 35px;
    opacity: 1;    
}

.l-hex {
    height: 325px;
    display: block;
    margin-top: 50px;
}

.m-hex {
    height: 225px;
}

.s-hex {
    height: 165px;
}



/******************************************/
/* an attempt at making things responsive */

/* large *****************************/
@media only screen
and (min-width : 2000px) {
    /* Large Body Definition */
    body {
	background: red;
    }
}

/* medium *****************************/
@media only screen
and (min-width : 1400px)
and (max-width : 1999px) {
    /* Medium Body Definition */
    body {
	background: green;
    }
}


/* small *****************************/
@media only screen
and (min-width : 1000px)
and (max-width : 1399px) {
    /* Small Body Definition */
    body {
	background: blue;
    }
}

/* phone *****************************/
@media only screen
and (min-width : 800px)
and (max-width : 999px) {    
    /* Phone Body Definition */
    body {
	background: black;
    }
}
