/* Main Body Definition */

body {
    font-family: Georgia;
}

.chop {
    height: 100px;
    position: fixed;
    top: 15px;
}

h1 {
    font-size: 50px;
    margin-left: 120px;
}

a.hovertext {
    position: relative;
    width: 100%;
    text-decoration: none !important;
    text-align: center;
}

a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
}

/* Homeycombs styling, customized a bit. */

.honeycombs{
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

/* use this to put text on top of hex images. contained within <span></span> */
.honeycombs .inner_span{
    font-size: 30pt;
    height: 100%;
    width: 100%;
    background: #fcb03c;
    opacity: 0.9;
}

/* more <span> styling */
.honeycombs .inner-text{
    display: inline-block;
    padding-top: 30%;
}

.honeycombs .honeycombs-inner-wrapper{
    display: inline-block;
    overflow: hidden;
    width: 700px;
    position: relative;
    height: 1200px;
}

.honeycombs .comb{
    position: absolute;
    display: inline-block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
    overflow: hidden;
    position: absolute;
/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
    visibility: hidden;
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.honeycombs .hex_r{
    visibility: hidden;
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.honeycombs .hex_inner{
    display: block;
    visibility: visible;
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;
}